/* @import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic,latin); 
@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic);*/
@import url(http://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic);

body {
  background: #bf94e4;
  text-align: center;
  font-size: 14px;
  /* font-family: 'Bad Script', cursive; 
  font-family: 'Marck Script', cursive;
  font-family: 'Poiret One', cursive;*/
  font-family: 'Jura', sans-serif;
}

.hidden {
  display: none;
}

.row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row:first-child {
  margin: 0px;
}
.row:last-child { 
  margin: 0px;
}

img.toma-photo {
  width: 500px;
  border-radius: 15px;
  margin-bottom: 2px;
}

